@model Login
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using(Html.BeginForm("Login","Home", FormMethod.Post))
{
    <label> UserID: </label> @Html.TextBoxFor(model=>model.UserID)<br /> <br />
    <label> UserID: </label> @Html.PasswordFor(model=>model.Password)<br /> <br />
    <hr />
    <b>@Html.Label("",(string)ViewBag.Mesaj)</b>

    <br />
    <br />

    <button type="submit">Login....</button>

    <a href="/Home/Index">Geri dön</a>
}